<h2 mat-dialog-title>{{ data.reminder ? 'Edit Reminder' : 'New Reminder' }}</h2>

<form
  [formGroup]="reminderFormGroup"
  (ngSubmit)="onSubmit()"
  *ngIf="reminderFormGroup"
>
  <mat-dialog-content>
    <div class="form-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Reminder Text</mat-label>
        <textarea
          matInput
          formControlName="text"
          placeholder="Enter reminder text"
          maxlength="30"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="4"
        ></textarea>
        <mat-hint align="end"
          >{{ reminderFormGroup.get('text')?.value?.length || 0 }}/30</mat-hint
        >
        <mat-error *ngIf="reminderFormGroup.get('text')?.hasError('required')">
          Text is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="reminderFormGroup.get('date')?.hasError('required')">
          Date is required
        </mat-error>
      </mat-form-field>

      <div class="inline-field-wrapper">
        <mat-form-field appearance="outline">
          <mat-label>Time</mat-label>
          <input matInput type="time" formControlName="time" step="60" />
          <mat-error
            *ngIf="reminderFormGroup.get('time')?.hasError('required')"
          >
            Time is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Color</mat-label>
          <mat-select formControlName="color">
            <mat-option
              *ngFor="let color of colors"
              [value]="color.value"
              [class]="'color-' + color.value"
            >
              {{ color.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="reminderFormGroup.get('color')?.hasError('required')"
          >
            Color is required
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>City</mat-label>

        <mat-select formControlName="city">
          <mat-option
            *ngFor="let city of cities"
            [value]="city"
          >
            {{ city }}
          </mat-option>
        </mat-select>
         <mat-error *ngIf="reminderFormGroup.get('city')?.hasError('required')">
          City is required
        </mat-error>





       </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!reminderFormGroup.valid || reminderFormGroup.pristine"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
