<h2 mat-dialog-title>{{ data.reminder ? 'Edit Reminder' : 'New Reminder' }}</h2>

<form
  [formGroup]="reminderFormGroup"
  (ngSubmit)="onSubmit()"
  *ngIf="reminderFormGroup"
>
  <mat-dialog-content>
    <div class="form-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Reminder Text</mat-label>
        <textarea
          matInput
          formControlName="text"
          placeholder="Enter reminder text"
          maxlength="30"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="4"
        ></textarea>
        <mat-hint align="end"
          >{{ reminderFormGroup.get('text')?.value?.length || 0 }}/30</mat-hint
        >
        <mat-error *ngIf="reminderFormGroup.get('text')?.hasError('required')">
          Text is required
        </mat-error>
      </mat-form-field>
      <div class="inline-field-wrapper">

      <mat-form-field>
        <mat-label>Meeting date</mat-label>
        <input
          matInput
          [matDatepicker]="datepicker"
          formControlName="newTime"
          onchange="handleInputChange()"
         />
        <mat-datepicker #datepicker />
        <mat-datepicker-toggle [for]="datepicker" matSuffix />
      </mat-form-field>

      <mat-form-field >
        <mat-label>Meeting time</mat-label>
        <input
          matInput
          [matTimepicker]="timepicker"
          formControlName="newTime"
          [value]="newTimeControl.value"

         />
        <mat-timepicker #timepicker />
        <mat-timepicker-toggle [for]="timepicker" matSuffix />
      </mat-form-field>
      </div>

      <div class="inline-field-wrapper">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          formControlName="color"
        >
          @for (color of colors; track color) {
            <mat-radio-button class="example-radio-button" [value]="color"
              ><div
                class="color"
                [ngStyle]="{ 'background-color': color.value }"
              ></div>
            </mat-radio-button>
          }
          <mat-error
            *ngIf="reminderFormGroup.get('color')?.hasError('required')"
          >
            Color is required
          </mat-error>
        </mat-radio-group>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>City</mat-label>

        <mat-select formControlName="city">
          <mat-option *ngFor="let city of cities" [value]="city">
            {{ city }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="reminderFormGroup.get('city')?.hasError('required')">
          City is required
        </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!reminderFormGroup.valid || reminderFormGroup.pristine"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
