<div class="reminders-container" *ngIf="reminders && reminders.length">
  <div (click)="openReminderForm(reminder.dateTime, reminder)" class="reminder-item" *ngFor="let reminder of reminders">

    <div  class="color-label" [style.backgroundColor]="reminder.color || 'grey'">

    </div>
      <div class="reminder-content" [title]="reminder.text">       <span class="reminder-time">{{reminder.dateTime | date:'shortTime'}} </span>
        {{reminder.text}}</div>

    <div class="icon"><app-icon *ngIf="reminder?.weather?.icon" [iconData]="reminder.weather">  </app-icon>
    </div>
  </div>
</div>
